footer {
  height: 250px;
  background-color: #000;
  margin-bottom: -50px;
}

.icons-container {
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
}

.logos-container ul {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.logos-container ul li {
  list-style-type: none;
}

.footer-links-container {
  padding: 40px 65px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer-links {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.footer-links li {
  list-style-type: none;
}

.footer-copyright p {
  opacity: 0.6;
}

li:hover {
  cursor: pointer;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  footer {
    height: 500px;
  }
  .icons-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logos-container {
    margin-top: 30px;
  }

  .footer-links-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
  }

  .footer-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  .footer-links li {
    padding-top: 20px;
  }

  .footer-copyright {
    margin-top: 20px;
  }
}
